body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Segoe UI";
}

.recognizer-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.upload-view,
.notification-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 180px;
  margin: 0 15px;
  outline: 2px dashed #5d5d5d;
  outline-offset: -12px;
  background-color: #e0f2f7;
  color: #1f3c44;
}

.upload-container img {
  width: 25%;
  margin-bottom: 20px;
  user-select: none;
}

.upload-container label {
  font-weight: bold;
  font-size: 12px;
}

.upload-container span {
  font-size: 12px;
}

.upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.upload-container div {
  position: relative;
  z-index: 10;
}

.upload-container input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.upload-container label.focus {
  outline: 1px solid #0078d7;
  outline: -webkit-focus-ring-color auto 5px;
}

.upload-container.dragover {
  background-color: #fafafa;
  outline-offset: -17px;
}

.original-view,
.result-view {
  display: flex;
  align-items: center;
  width: 40%;
  height: 60%;
}

.original-view canvas,
.result-view canvas {
  width: 100%;
}

.worker-nodes-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 12%;
  height: 45%;
  border: 2px solid #0094ff;
  border-radius: 5px;
}

.worker-node-view {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 20%;
  cursor: pointer;
}

.worker-node-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.worker-node-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.worker-node-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.worker-node-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .worker-node-slider {
  background-color: #41b668;
}

input:focus + .worker-node-slider {
  box-shadow: 0 0 1px #41b668;
}

input:checked + .worker-node-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.no-notification {
  display: none;
}

.notification {
  width: 200px;
  margin: 10px 5px;
  font-size: 12px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  animation: calc(var(--value) * 0.1) ease-out calc(var(--value) * 0.9) fadeOut;
  z-index: 1000;
}

.notification.success {
  background: #cdfccd;
}

.notification.success .timer {
  background: #86aa86;
}

.notification.warn {
  background: #fff1ad;
}

.notification.warn .timer {
  background: #ffd13a;
}

.notification.error {
  background: #ffe3e3;
}

.notification.error .timer {
  background: #c28585;
}

.notification-time {
  --value: 3s;
}

.inner-wrapper {
  padding: 5px;
}

.timer {
  width: 100%;
  height: 2px;
  animation: progress var(--value) linear;
}

.notification-header {
  text-transform: capitalize;
  font-size: 12px;
}

.notification-body {
  font-weight: bold;
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
