body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Segoe UI';
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.header h1 {
	display: flex;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

#upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 320px;
	height: 180px;
	margin: 0 15px;
	outline: 2px dashed #5d5d5d;
	outline-offset: -12px;
	background-color: #e0f2f7;
	color: #1f3c44;
}

#upload-container img {
	width: 25%;
	margin-bottom: 20px;
	user-select: none;
}

#upload-container label {
	font-weight: bold;
	font-size: 12px;
}

#upload-container span {
	font-size: 12px;
}

#upload-container label:hover {
	cursor: pointer;
	text-decoration: underline;
}

#upload-container div {
	position: relative;
	z-index: 10;
}

#upload-container input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}

#upload-container label.focus {
	outline: 1px solid #0078d7;
	outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
	background-color: #fafafa;
	outline-offset: -17px;
}

#train-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 320px;
	height: 180px;
	margin: 0 15px;
	outline: 2px dashed #5d5d5d;
	outline-offset: -12px;
	background-color: #e0f2f7;
	color: #1f3c44;
}

#train-container img {
	width: 25%;
	margin-bottom: 20px;
	user-select: none;
}

#train-container label {
	font-weight: bold;
	font-size: 12px;
}

#train-container span {
	font-size: 12px;
}

#train-container label:hover {
	cursor: pointer;
	text-decoration: underline;
}

#train-container div {
	position: relative;
	z-index: 10;
}

#train-container input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}

#train-container label.focus {
	outline: 1px solid #0078d7;
	outline: -webkit-focus-ring-color auto 5px;
}

#train-container.dragover {
	background-color: #fafafa;
	outline-offset: -17px;
}

.output-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.target-picture {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: 360px;
	margin: 15px;
}

.target-picture img {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}

.result-picture {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: 360px;
	margin: 15px;
}

.result-picture img {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}

.target-result-back {
	background-image: url("../assets/no-image-icon.png");
}